################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/coconailswestbury.github.io
/.vs/slnx.sqlite
